<?xml version = "1.0" encoding = "utf-8"?>
<Configuration>
    <Service id = "firm">
        <SelectQuery>select Id as id, FirmName as firmName from FirmMaster</SelectQuery>
        <SelectQueryById>select Id as id, FirmName as firmName from FirmMaster where id = ?</SelectQueryById>
        <InsertQuery>INSERT INTO FirmMaster (FirmName) VALUES (?)</InsertQuery>
        <UpdateQuery>UPDATE FirmMaster SET FirmName = ? WHERE Id = ?</UpdateQuery>
        <DeleteQuery>DELETE FROM FirmMaster WHERE Id = ?</DeleteQuery>
        <PropertyMapping>
            <Property name="id" columnName="Id" dataType = '4'/>
            <Property name="firmName" columnName="FirmName" dataType = '12'/>
        </PropertyMapping>
    </Service>
    <Service id = "city">
        <SelectQuery>select Id as id, City as city from CityMaster</SelectQuery>
        <SelectQueryById>select Id as id, City as city from CityMaster where id = ?</SelectQueryById>
        <InsertQuery>INSERT INTO CityMaster (City) VALUES (?)</InsertQuery>
        <UpdateQuery>UPDATE CityMaster SET City = ? WHERE Id = ?</UpdateQuery>
        <DeleteQuery>DELETE FROM CityMaster WHERE Id = ?</DeleteQuery>
        <PropertyMapping>
            <Property name="id" columnName="Id" dataType = '4'/>
            <Property name="city" columnName="City" dataType = '12'/>
        </PropertyMapping>
    </Service>
    <Service id = "project">
        <SelectQuery>SELECT FirmId as firmId, FirmName as firmName,ProjectName as projectName,PropertyTypeId as propertyTypeId,PropertyType as propertyType,CityId as cityId, CityName as cityName,LocationId as locationId,Location as location,Address as address,BusinessValue as businessValue FROM ProjectMaster</SelectQuery>
        <SelectQueryById>SELECT FirmId as firmId, FirmName as firmName,ProjectName as projectName,PropertyTypeId as propertyTypeId,PropertyType as propertyType,CityId as cityId, CityName as cityName,LocationId as locationId,Location as location,Address as address,BusinessValue as businessValue FROM ProjectMaster WHERE Id = ?</SelectQueryById>
        <InsertQuery>INSERT INTO ProjectMaster (FirmId,FirmName,ProjectName,PropertyTypeId,PropertyType,CityId,CityName,LocationId,Location,Address,BusinessValue)  VALUES (?,?,?,?,?,?,?,?,?,?,?)</InsertQuery>
        <UpdateQuery>UPDATE ProjectMaster SET FirmId = ? ,FirmName = ? ,ProjectName = ? ,PropertyTypeId = ? ,PropertyType = ? ,CityId = ? ,CityName = ? ,LocationId = ? ,Location= ? ,Address= ? ,BusinessValue= ? ) WHERE Id = ?</UpdateQuery>
        <DeleteQuery>DELETE FROM ProjectMaster WHERE Id = ?</DeleteQuery>
        <PropertyMapping>
            <Property name = "id"             columnName ="Id"                   dataType = '4'/>
            <Property name = "firmId"   	  columnName = "FirmId"              dataType = "4"   />
            <Property name = "firmName"       columnName = "FirmName"            dataType = "12"  />
            <Property name = "projectName"    columnName = "ProjectName"         dataType = "12"  />
            <Property name = "propertyTypeId" columnName = "PropertyTypeId"      dataType = "4"   />
            <Property name = "propertyType"   columnName = "PropertyType"        dataType = "12"  />
            <Property name = "cityId"         columnName = "CityId"              dataType = "4"   />
            <Property name = "cityId"         columnName = "CityId"              dataType = "4"   />
            <Property name = "cityName"       columnName = "CityName"            dataType = "12"  />
            <Property name = "locationId"     columnName = "LocationId"          dataType = "4"   />
            <Property name = "location"       columnName = "Location"            dataType = "12"  />
            <Property name = "address"        columnName = "Address"             dataType = "12"  />
            <Property name = "businessValue"  columnName = "BusinessValue"       dataType = "3"   />
        </PropertyMapping>
    </Service>
    <Service id = "location">
        <SelectQuery>select Id as id, CityId as cityId, CityName as cityName, Location as location from LocationMaster</SelectQuery>
        <SelectQueryById>select Id as id, CityId as cityId, CityName as cityName, Location as location from LocationMaster where Id = ?</SelectQueryById>
        <InsertQuery>INSERT INTO LocationMaster (CityId,CityName,Location) VALUES (?,?,?)</InsertQuery>
        <UpdateQuery>UPDATE LocationMaster SET CityId = ?, CityName = ?, Location = ? WHERE Id = ?</UpdateQuery>
        <DeleteQuery>DELETE FROM LocationMaster WHERE Id = ?</DeleteQuery>
        <PropertyMapping>
            <Property name="id" columnName="Id" dataType = '4'/>
            <Property name="cityId" columnName="CityId" dataType = '4'/>
            <Property name="cityName" columnName="CityName" dataType = '12'/>
            <Property name="location" columnName="Location" dataType = '12'/>
        </PropertyMapping>
    </Service>
    <Service id = "propertyType">
        <SelectQuery>select Id as id, PropertyType as propertyType from PropertyTypeMaster</SelectQuery>
        <SelectQueryById>select Id as id, PropertyType as propertyType from PropertyTypeMaster where id = ?</SelectQueryById>
        <InsertQuery>INSERT INTO PropertyTypeMaster (propertyType) VALUES (?)</InsertQuery>
        <UpdateQuery>UPDATE PropertyTypeMaster SET propertyType = ? WHERE Id = ?</UpdateQuery>
        <DeleteQuery>DELETE FROM PropertyTypeMaster WHERE Id = ?</DeleteQuery>
        <PropertyMapping>
            <Property name="id" columnName="Id" dataType = '4'/>
            <Property name="propertyType" columnName="PropertyType" dataType = '12'/>
        </PropertyMapping>
    </Service>
</Configuration>

<!--
dataTypes

VARCHAR: 12
TINYINT: -6
INTEGER: 4
DECIMAL: 3
DATE: 91
BLOB: 2004
BOOLEAN: 16
CLOB: 2005
-->